.HappeningDiv {
    display: grid;
    grid-template-rows: auto;
    width: auto;


}
.happeningContents {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap : 10px;

}
.firstCol {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap : 10px;
}
.happeningTitle {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}
.moreNewsDiv2 {
    display: flex;
    justify-content:flex-end;
    width: 90%;
}

.previous-round-happen {
    border: none;
}
.next-round-happen {
    border: none;
}
.secCol {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
.Rows2 {
    display: grid;
    grid-template-rows: 6fr 1fr 1fr;
}
.smallPicInfo {
    color: rgb(175, 172, 168);

}
.daysClass {
    color: rgb(175, 172, 168);

}